{% if app.app_allowed_locales|length > 1 %}
<ul class="dropdown-menu">
{% for lang, item in switcher %}
	<li><a href="{{ item.path }}">{{ item.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
<ul>
{% for path, item in menu %}
	<li><a href="{{ routes[path] }}">{{ item }}</a></li>
{% endfor %}
</ul>

<h1>{{ name }}</h1>

<form action="{{ app.request.uri }}" method="post">
	<textarea name="message"></textarea>
	<button type="submit">Send</button>
</form>